.modalBackDrop{
/* background-color: rgb(140, 127, 255); */
border: 2px solid rgb(228, 19, 19);
position: fixed;
width: 100vw;
height: 100vh;
z-index: 1;
background-color: rgba(50,50,50,0.9);

}

.modalContent{
    z-index: 2;
    background-color: #fff;
    border: 2px solid rgb(228, 125, 125);
    position: fixed;
    max-width: 1280px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    max-height: 700px;
    height: 75% ;
    overflow-y: scroll;
    overflow-x: scroll;
}